@page
@model CoreOnlineShop.Pages.CartModel
@{
}

<div>
    @foreach (var product in Model.Cart)
    {
        <p>@product.Name - @product.Value - @product.Qty @product.StockId</p>
        <hr />
    }

</div>

@await Component.InvokeAsync("Cart", new { view="Small"})