@page "{name}"
@model CoreOnlineShop.Pages.ProductModel
@{
    
}


<div class="hero">
    <div class="hero-body">
        <div class="columns container">
            <div class="column is-6">
                <figure class="image">
                    <img src="~/images/sample.jpg"  alt="Alternate Text" />
                </figure>
            </div>
            <div class="column is-6">
                <section class="content">
                    <header>
                        <p class="title">@Model.Product.Name</p>
                        <p class="subtitle">@Model.Product.Description</p>
                    </header>
                    <main>
                        <p>
                            Brand new women's clothes. 780+ items in total.
                            Excess stock as business recently closed.
                            A variety of tops, pants, and skirts of various sizes and styles.
                            Wholesale value $12,000
                            Retail Value $24,000
                            Buyer must take the entire stock.
                            Please note goods are located in Christchurch.
                            Buyer is welcome to organise a viewing of the items.
                        </p>
                    </main>
                    <footer>
                        <form method="post">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Size</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow control">
                                        <div class="select">
                                            <select asp-for="CartViewModel.StockId">
                                                @foreach (var s in Model.Product.Stock)
                                                {
                                                    <option value="@s.Id">@s.Description</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Quantity</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow control">
                                        <input class="control input" asp-for="CartViewModel.Qty" />
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow control">
                                        <button class="button is-success" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </footer>
                </section>
            </div>

        </div>
    </div>
</div>


@await  Component.InvokeAsync("Cart")
